{% extends '::base.html.twig' %}

{% set page_title = "Liste des Comptes Comptables" %}

{% block body -%}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comptecomptable_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.libelle }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('comptecomptable_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('comptecomptable_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('comptecomptable_new') }}">
                Créer un nouveau compte
            </a>
        </li>
    </ul>
    {% endblock %}
