{% extends '::base.html.twig' %}

{% set page_title = "Liste des Ecritures" %}

{% import 'BfxmplBudgetBundle:Macro:crud.html.twig' as macrocrud %}


{% block body -%}
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Sens</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('ecriture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.libelle }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</td>
                    <td>{{ entity.montant }}</td>
                    <td>{{ entity.sens }}</td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                {{ macrocrud.link_show( path('ecriture_show', { 'id': entity.id }) ) }}
                            </li>
                            <li>
                                {{ macrocrud.link_edit( path('ecriture_edit', { 'id': entity.id }) ) }}
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ macrocrud.link_new( path('ecriture_new') ) }}
{% endblock %}
